<h1>About Me</h1>

<p>
Hello, my name is Shishir Adhikari.
I am a Computer Programming student at
Georgian College interested in web
development, software development and databases.
</p>

<h3>Skills</h3>

<ul>
<li>HTML</li>
<li>CSS</li>
<li>JavaScript</li>
<li>Node.js</li>
<li>C#</li>
<li>SQL</li>
</ul>