<h1>Contact Me</h1>

<form>

<div class="mb-3">

<label>Name</label>

<input class="form-control">

</div>

<div class="mb-3">

<label>Email</label>

<input class="form-control">

</div>

<div class="mb-3">

<label>Message</label>

<textarea class="form-control"></textarea>

</div>

<button class="btn btn-primary">
Send
</button>

</form>