<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

<div class="container">

<a class="navbar-brand" href="/">Shishir Portfolio</a>

<div>

<a class="nav-link d-inline text-white" href="/">Home</a>

<a class="nav-link d-inline text-white" href="/about">About</a>

<a class="nav-link d-inline text-white" href="/projects">Projects</a>

<a class="nav-link d-inline text-white" href="/contact">Contact</a>

</div>

</div>

</nav>

<div class="container mt-5">

{{{body}}}

</div>

<footer class="bg-dark text-white text-center p-3 mt-5">

<p>© 2026 Shishir Adhikari</p>

<a class="text-white me-3"
href="https://github.com/Shishir-Adhikarii">
GitHub
</a>

<a class="text-white"
href="https://linkedin.com/in/Shishir-Adhikari">
LinkedIn
</a>

</footer>

</body>
</html>